---
import TriviaInput from "./TriviaInput.astro";

const user_id = Astro.locals.user.id;
const { panelId, hidden, courseId } = Astro.props;
---

<section data-id={panelId} {hidden} {...Astro.props}>
  <h2 class="title-primary action-title">Trivia XD</h2>
  <form class="trivia-form" action="" method="post">
    <input hidden type="text" name="author_id" value={user_id} />
    <input hidden type="text" name="course_id" value={courseId} />
    <div class="trivia-group">
      <label class="trivia-label title" for="trivia-title"
        >Título para la trivia
        <input
          class="trivia-name"
          type="text"
          id="trivia-title"
          name="title"
          placeholder="Escribe tu pregunta aquí"
          required
        />
      </label>
    </div>
    <div class="options-container">
      <h3 class="title">Opciones de respuesta</h3>
      <TriviaInput radioId="correct-1" optionId="1" />

      <TriviaInput radioId="correct-2" optionId="2" />
    </div>
    <button id="add-answer" type="button" class="btn-add-option"> Agregar respuesta </button>

    <div class="form-actions">
      <button type="submit" class="btn-submit">Publicar</button>
    </div>
  </form>
</section>
<script>
  const radioBtn = document.querySelector(".trivia-form") as HTMLElement;
  const textAreas = document.querySelectorAll(
    "textarea"
  ) as NodeListOf<HTMLTextAreaElement>;

  radioBtn.addEventListener("change", (e) => {
    const target = e.target as HTMLInputElement;
    const isInput = target.matches("input");
    const isRadio = target.type === "radio";

    if (!isInput && !isRadio) return;
    
    resetTextAreas();
    target.checked = true;
    
    const textareaID = target.dataset.textarea;
    const textarea = document.querySelector(
      `[data-id='${textareaID}']`
    ) as HTMLTextAreaElement;
    
    textarea.hidden = !textarea.hidden;
    textarea.disabled = false;
  });

  function resetTextAreas() {
    textAreas.forEach((textarea) => {
      textarea.hidden = true;
      textarea.disabled = true;
    });
  }
</script>
<style>
  .trivia-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    margin: 0 auto;
    color: white;
    width: 100%;
    max-width: 600px;
    background: var(--secondary-color);
    padding: 2rem;
    border-radius: 8px;
  }
  .trivia-name {
    margin-top: 0.5rem;
    padding: 0.8rem 1rem;
    border-radius: 8px;
    border: none;
    font-size: 1.7rem;
    width: 100%;
    background: var(--secondary-color);
    color: white;
  }
  .trivia-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .title {
    font-weight: 600;
    font-size: 1.8rem;
    color: var(--accent-color);
  }
  .btn-add-option {
    align-self: flex-start;
    background: var(--secondary-color);
    border: 1px solid rgba(255, 255, 255, 0.315);
    color: white;
    padding: 1rem 2rem;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    width: 100%;
  }
  .form-actions {
    border-top: 1px solid rgba(255, 255, 255, 0.137);
    padding-top: 1rem;
    display: flex;
    gap: 3rem;
    justify-content: flex-end;
    .btn-submit {
      background: var(--secondary-color);
      border-top: 1px solid rgba(255, 255, 255, 0.137);
      color: white;
      padding: 1rem 2rem;
      border-radius: 12px;
      cursor: pointer;
      font-size: 1.2rem;
      font-weight: 600;
      transition: background 0.3s ease;
      &:hover {
        background: rgba(22, 22, 22, 0.719);
      }
    }
  }
</style>
