---
import BaseHead from "../../layouts/BaseHead.astro";
import "./_style.css"
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/700.css";
import "@fontsource/poppins/800.css";
import SideBar from "./_components/SideBar.astro";
import DashboardButtonRight from "./_components/DashboardButtonRight.astro";
import ToastAlert from "@components/ToastAlert.astro";
import NavBar from "./_components/NavBar.astro";
import LayoutHeader from "./_components/LayoutHeader.astro"
import CollapseLeftSidebar from "./_components/CollapseLeftSidebar.astro";
import { getMenuByRole } from "./_data/menu"

const role = (Astro.locals.user?.role || "student") as "admin" | "teacher" | "student";
const menu = getMenuByRole(role);

const {
  title,
  description,
  image = "/images/portada.png",
  buttonContent = "Agregar Roadmap",
  buttonUrl = "/dashboard/roadmaps/create",
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={image} />
    <slot name="head" />
  </head>
  <body>
    <div class="dashboard-layout">
      <SideBar>
        <NavBar slot="navmenu" {menu} pathName={Astro.url.pathname} />
      </SideBar>
      <LayoutHeader class="dashboard-header">
          <CollapseLeftSidebar />
        { buttonUrl && <DashboardButtonRight content={buttonContent}, href={buttonUrl} /> } 
      </LayoutHeader>
      <main>
        <slot />
        <ToastAlert absolute />
      </main>
    </div>
  </body>
</html>
