---
import BaseHead from "../../layouts/BaseHead.astro";
import "./_style.css"
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/700.css";
import "@fontsource/poppins/800.css";
import SideBar from "./_components/SideBar.astro";
import Image from "astro/components/Image.astro";
import ToastAlert from "@components/ToastAlert.astro";
import NavBar from "./_components/NavBar.astro";
import LayoutHeader from "./_components/LayoutHeader.astro"
import CollapseLeftSidebar from "./_components/CollapseLeftSidebar.astro";
import { adminMenu } from "./_data/admin_menu"

const {
  title,
  description,
  image = "/images/portada.png",
  buttonContent = "Agregar Roadmap",
  buttonUrl = "/dashboard/roadmaps/create",
} = Astro.props;
const logo = "/images/sofilogo.png";
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body>
    <div class="dashboard-layout">
      <SideBar>
        <NavBar slot="navmenu" menu={adminMenu} pathName={Astro.url.pathname} />
      </SideBar>
      <LayoutHeader class="dashboard-header">
          <CollapseLeftSidebar />
          <a href="/">
            <Image src={logo} alt="Sofi Logo" width={60} height={60} />
          </a>
          <a class="dashboard-button" href={buttonUrl}>
            {buttonContent}
          </a>
      </LayoutHeader>
      <main>
        <slot />
        <ToastAlert absolute />
      </main>
    </div>
  </body>
</html>
