---
const { id, selected = false, color } = Astro.props;
const tabindex = selected ? 0 : -1;
---
<button role="tab" aria-selected={selected} aria-controls={`panel-${id}`} id={`tab-${id}`} tabindex={tabindex}>
  <iconify-icon icon="eos-icons:subscriptions-created" width="24" height="24"  style={`color: ${color};`}></iconify-icon> 
  <slot/>
</button>

<style>
  button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.6rem;
  color: white;
  background: none;
  padding: 0.5rem 1rem;
   &:hover {
    cursor: pointer;
    color: var(--accent-color);
  }
  &[aria-selected="true"] {
    color: var(--accent-color);
    font-weight: bold;
  }
}
</style>
