---
const users = [
  {
    username: "Sofidev",
    rol: "admin",
    email: "sofi.dev@mail.com",
  },
  {
    username: "Stron",
    rol: "admin",
    email: "sofi.dev@mail.com",
  },
  {
    username: "Rick",
    rol: "admin",
    email: "sofi.dev@mail.com",
  },
  {
    username: "Garrux",
    rol: "admin",
    email: "sofi.dev@mail.com",
  },
];
---

<section class="stats">
  <h2 class="title-secundary action-title">Usuarios Registrados</h2>

  <div class="table-container">
    {
      users?.length > 0 ? (
        <table class="admin-table">
          <thead>
            <tr>
              {Object.keys(users[0]).map((user) => {
                return <th>{user}</th>;
              })}
            </tr>
          </thead>
          <tbody>
            {users.map(({ username, rol, email }, index) => (
              <tr id={`item-${index}`}>
                <td>{username}</td>
                <td>{rol}</td>
                <td>{email}</td>
              </tr>
            ))}
          </tbody>
        </table>
      ) : (
        <div class="empty-state">
          <p>No hay items disponibles</p>
        </div>
      )
    }
  </div>
</section>

<style>
  .stats {
    padding-block: 5rem;
    writing-mode: horizontal-tb;
    width: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
  }
  .table-container {
    width: 100%;
    padding: 1rem;
    overflow-x: auto;
    @media (width < 768px) {
      min-width: 100%;
    }
  }
  iconify-icon {
    pointer-events: none;
  }


  .edit-btn,
  .delete-btn {
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 8px;
  }

  .edit-btn {
    background: #4d46ac;
    color: white;
  }

  .edit-btn:hover {
    background: #111111;
  }

  .delete-btn {
    background: #fff4f6;
    color: white;
  }

  .delete-btn:hover .icon-trash {
    transform: rotate(20deg);
  }

  .error-message {
    background: #f8d7da;
    color: #721c24;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #f5c6cb;
  }

  .empty-state {
    text-align: center;
    padding: 2rem;
    color: #666;
  }
</style>
