---
const { labelText, id = "", errorMessage="Este campo es obligatorio", class:ClassName, ...rest } = Astro.props;

---

<div class="input-container">
  <label for={id} class="input-label">
    {labelText}
  </label>
  <input name={id} id={id} class={ClassName} {...rest} />
  <span class="error-message">{errorMessage}</span>
</div>



<style>  .input-container {
    position: relative;
    padding: 0.5rem;
  }
  label {
    position: absolute;
    font-size: 1.4rem;
    /* top: 1rem;
    left: 0.5rem; */
    transform:translate(1rem,.7rem);
    transition:
      transform 0.2s ease-in-out,
      color 0.2s ease-in-out;
  }
  input {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    background-color: rgb(30 30 30);
    color: transparent;
    border: none;
    &:invalid:not(:placeholder-shown){
      border: 1px solid tomato;
    }
  }
  input::-webkit-input-placeholder {
    color: transparent;
  }
  .input-container:focus-within label,
  input:not(:placeholder-shown) ~ label {
    transform:translate(0,-2.2rem);
    /* top: -2rem; */

  }
  .error-message{
    display: none;
  }
  .input-container:has(input:not(:placeholder-shown)) {
    input {
      color: white;
    }
    label {
        transform:translate(0,-2.2rem);
      color: rgb(131, 131, 131);
    }
  }
  *:required:user-invalid:not(:focus) ~ .error-message {
    display: block;
    color: tomato;
    font-size: 1.2rem;
    margin-top: 0.3rem;

  }


  input:focus {
    outline: none;
    color: white;
  }
</style>