---
const {
  labelText,
  id = "",
  errorMessage = "Este campo es obligatorio",
  class: ClassName,
  ...rest
} = Astro.props;
import "./input.css";
---

<div class="input-container">
  <label for={id} class="input-label">
    {labelText}
  </label>
  <input name={id} id={id} class={ClassName} {...rest} />
  <span class={`error-message ${id}`}>{errorMessage}</span>
</div>
