---
const { class: ClassName, href, type, ...rest } = Astro.props;

import { isLoggedIn } from "src/utils/auth/isLoggedIn";
const cookies = Astro.cookies;
const islogIn = await isLoggedIn(cookies);
let content = "Acceder";
if (islogIn) {
  content = "Dashboard";
}
---

{
  href ? (
    // Añadimos un onclick inline como fallback para forzar la navegación
    <a
      class={`base-styles ${ClassName}`}
      {...rest}
      href={href}
      onclick={`location.href='${href}'`}
    >
      {content}
    </a>
  ) : (
    <button type={type} class={`base-styles ${ClassName}`} {...rest}>
      {content}
    </button>
  )
}

<style is:global>
  .base-styles {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 4px;
    font-size: 1.6rem;
    font-weight: 600;
    &:hover {
      opacity: 0.9;
      transform: scale(0.98);
    }
  }

  a {
    text-decoration: none;
  }
  button {
    background: none;
    border: none;
    cursor: pointer;
  }
</style>
