---
import Layout from "@layouts/Layout.astro";
import LessonList from "./_components/LessonList.astro";
import ClockIcon from "../_assets/ClockIcon.astro";
import LayersIcon from "../_assets/LayersIcon.astro";
import EggEasy from "@shared/assets/icons/EggEasy.astro";

const { curso } = Astro.params;

const sectionTitles = {
  1: "Introducción a Docker",
  2: "Fundamentos de GitHub",
  3: "Programación en Python",
  4: "JavaScript para Principiantes",
  5: "Desarrollo Web con JavaScript"
};

const lessons = [
  { title: "Leccion 1", href: "1", thumbnail: "/assets/icons/docker.png", duration: "15:00", position: 1,section: 1 },
  { title: "Leccion 1", href: "1", thumbnail: "/assets/icons/docker.png", duration: "20:00", position: 2,section: 1 },
  { title: "Leccion 1", href: "1", thumbnail: "/assets/icons/docker.png", duration: "25:00", position: 3,section: 1 },
  { title: "Leccion 1", href: "1", thumbnail: "/assets/icons/docker.png", duration: "30:00", position: 4,section: 1 },
  { title: "Leccion 1", href: "1", thumbnail: "/assets/icons/docker.png", duration: "35:00", position: 1,section: 2 },
  { title: "Leccion 1", href: "1", thumbnail: "/assets/icons/docker.png", duration: "45:00", position: 2,section: 2 },
  { title: "Leccion 2", href: "2", thumbnail: "/assets/icons/github.png", duration: "15:00", position: 3,section: 2 },
  { title: "Leccion 2", href: "2", thumbnail: "/assets/icons/github.png", duration: "20:00", position: 4,section: 2 },
  { title: "Leccion 2", href: "2", thumbnail: "/assets/icons/github.png", duration: "25:00", position: 1,section: 3 },
  { title: "Leccion 2", href: "2", thumbnail: "/assets/icons/github.png", duration: "30:00", position: 2,section: 3 },
  { title: "Leccion 2", href: "2", thumbnail: "/assets/icons/github.png", duration: "35:00", position: 3,section: 3 },
  { title: "Leccion 2", href: "2", thumbnail: "/assets/icons/github.png", duration: "40:00", position: 4,section: 3 },
  { title: "Leccion 3", href: "3", thumbnail: "/assets/icons/python.png", duration: "20:00", position: 1,section: 4 },
  { title: "Leccion 3", href: "3", thumbnail: "/assets/icons/python.png", duration: "25:00", position: 2,section: 4 },
  { title: "Leccion 3", href: "3", thumbnail: "/assets/icons/python.png", duration: "30:00", position: 3,section: 4 },
  { title: "Leccion 4", href: "4", thumbnail: "/assets/icons/javascript.png", duration: "30:00", position: 1,section: 5 },
  { title: "Leccion 4", href: "4", thumbnail: "/assets/icons/javascript.png", duration: "50:00", position: 2,section: 5 },
];

const sectionedLessons = lessons.reduce((acc, lesson) => {
  if (!acc[lesson.section]) {
    acc[lesson.section] = {
      title: sectionTitles[lesson.section as keyof typeof sectionTitles] || `Sección ${lesson.section}`,
      lessons: []
    };
  }
  acc[lesson.section].lessons.push(lesson);
  return acc;
}, {} as Record<number, { title: string; lessons: typeof lessons }>);
---

<Layout>
  <section class="course-detail">
    <div class="main-content">
      <div class="info-container">
        <h1 class="title-secundary">Curso de {curso}</h1>
        <div class="info-tags">
          <p class="tag"><EggEasy /> Nivel: Principiante</p>
          <p class="tag">
            <ClockIcon width="15" height="15" />Duración: 4 horas
          </p>
          <p class="tag">
            <LayersIcon width="15" height="15" /> Clases: {lessons.length}
          </p>
        </div>
        <p class="description">
          Bienvenidos al curso de {curso}! Aquí aprenderás todo lo necesario
          sobre {curso}. Este curso está diseñado para principiantes y
          avanzados, proporcionando una base sólida en conceptos fundamentales y
          prácticas avanzadas. A lo largo de las lecciones, explorarás ejemplos
          reales y proyectos prácticos que te ayudarán a aplicar lo aprendido de
          manera efectiva.
        </p>
        <p class="description">
          En este curso, no solo adquirirás conocimientos teóricos, sino que
          también desarrollarás habilidades prácticas a través de ejercicios
          interactivos y desafíos. Al finalizar, estarás preparado para
          enfrentar proyectos en el mundo real, con una comprensión profunda de {
            curso
          } y sus aplicaciones en diversos contextos. ¡Prepárate para un viaje de
          aprendizaje emocionante y transformador!
        </p>
      </div>
      <div class="lessons">
        {
          Object.entries(sectionedLessons).map(([sectionNumber, section]) => (
            <div class="section">
              <h3 class="title-quaternary">{section.title}</h3>
              <LessonList lessons={section.lessons} course={curso ?? ""} />
            </div>
          ))
        }
      </div>
    </div>

    <div class="trailer">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/S0jeLocArZE?si=MEsfv2Hnyuwmp6Jq"
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen></iframe>
      <div class="action-btns">
        <a href="#">Comenzar curso</a>
      </div>
    </div>
  </section>
</Layout>

<style>
  .course-detail {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10rem auto 0;
    padding: 2rem;
    color: white;
  }
  .main-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
  .info-tags {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  .tag {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    background-color: #1d28389d;
    padding: 0.4rem 0.8rem;
    border-radius: 4px;
    font-size: 1.2rem;
  }
  .info-container {
    display: flex;
    flex-direction: column;
  }
  .lessons {
    width: 100%;
    .section {
      margin-bottom: 4rem;
      display: flex;
      flex-direction: column;
    gap: 2rem;
    }
  }
  .description:not(:last-child){
    margin-bottom: 2rem;
  }
</style>
