---
import DeleteButton from "@shared/assets/icons/DeleteButton.astro";
const { data, resource, path } = Astro.props;

---

<div class="table-container">
  {
    data?.length > 0 ? (
      <table class="admin-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Descripción</th>
            { data[0].courses && <th>Cursos</th> }
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          {data.map((item: any) => (
            <tr id={`item-${item.id}`}>
              <td>{item.id}</td>
              <td>{item.title}</td>
              <td>{item.description}</td>
              { item.courses && <td>{item.courses.length}</td> }
              <td>
          <a href={`/dashboard/${ path ?? resource }/edit?id=${item.id}`} class="edit-btn">
                  <iconify-icon
                    icon="icon-park-twotone:edit-two"
                    width="24"
                    height="24"

                  />
                </a>
              </td>
              <td>
                <button
                  class="delete-btn"
                  id="delete"
                  data-id={item.id}
                  data-resource={resource}
                >
                <DeleteButton class="icon-trash"  width="23" height="23" />
                </button>
              </td>
            </tr>
          ))}
        </tbody>
      </table>
    ) : (
      <div class="empty-state">
        <p>No hay items disponibles</p>
      </div>
    )
  }
</div>

<script>
  import ToastNotification from "@utils/toastAlerts.controller";
  import { actions } from "astro:actions";

  const table = document.querySelector(".admin-table");

  table?.addEventListener("click", async (e) => {
    const target = e?.target as HTMLElement;
    if (target.tagName !== "BUTTON" && target.id !== "delete") return;
    const resource = target.dataset.resource as string;
    const id = target.dataset.id as string;

    const { error } = await actions.api({
      id,
      resource,
      method: "DELETE",
    })

    if (error) {
      ToastNotification("Error al eliminar el roadmap", "error");
      return;
    };

    document.querySelector(`#item-${id}`)?.remove();
    ToastNotification("Roadmap eliminado exitosamente", "error");

  });
</script>

<style >


  .error-message {
    background: #f8d7da;
    color: #721c24;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #f5c6cb;
  }

  .empty-state {
    text-align: center;
    padding: 2rem;
    color: #666;
  }
</style>
