---
import BaseHead from "../../../layouts/BaseHead.astro";
import "./../_style.css"
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/700.css";
import "@fontsource/poppins/800.css";
import SideBar from "./../_components/SideBar.astro";
import ToastAlert from "../../../components/ToastAlert.astro";
import NavBar from "./../_components/NavBar.astro";
import { teacherMenu } from "./_data/menu"

const {
  title,
  description,
  image = "/images/portada.png",
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body>
    <div class="dashboard-layout">
      <SideBar>
        <NavBar menu={teacherMenu} slot="navmenu" pathName={Astro.url.pathname} />
      </SideBar>
      <main>
        <slot />
        <ToastAlert absolute />
      </main>
    </div>
  </body>
</html>

